<div class="footer">
    <div class="img">
        <img src="resoures/img/logo.jpg" alt="abc">
    </div>
    <div class="contact">
        <p>Cửa tiệm : 834 Võ Văn Kiệt, Phường 5, Quận 5</p>
        <p>SĐT : 0776867006</p>
    </div>
</div>