<div class="header">
    <ul class="menu">
        <li>
            <a href="/"><img src="resoures/img/logo.jpg" alt=""></a>
        <li>
        <li><a href="">Khô gà</a>
            <ul class="menu2">
                <li><a href="/khoga/khogalachanh">khô gà lá chanh</a></li>
                <li><a href="khogabotoi.hbs">khô gà cay</a></li>
                <li><a href="khogacay.hbs">Khô gà bơ tỏi</a></li>
            </ul>

        </li>
        <li><a href="">Khô Heo</a>
            <ul class="menu3">
                <li><a href="#">Khô Heo lá chanh</a></li>
                <li><a href="#">Khô Heo cay</a></li>
                <li><a href="#">Khô heo bơ tỏi</a></li>
            </ul>

        </li>
        <li><a href="#">Liên Hệ</a></li>

    </ul>
    <div class="login-search">

        <input type="text" placeholder="Tìm Kiếm">
        <button class="fa fa-search"></button>
        <a href="#">Đăng nhập</a>

    </div>
</div>