<div class="content">
    <div class="container">
        <div class="row">

            <div class="col-md-3">
                <a href=""><img src="resoures/img/khogalachanh1.jpg" alt=""></a>
                <a href="#" style="margin: 5px;">Khô gà lá chanh</a>
            </div>
            <div class="col-md-3">
                <a href=""><img src="resoures/img/khogalachanh2.jpg" alt=""></a>
                <a href="#">Khô gà lá chanh</a>
            </div>
            <div class="col-md-3">

                <a href=""><img src="resoures/img/khogalachanh3.jpg" alt=""></a>
                <a href="#">Khô gà lá chanh</a>
            </div>
            <div class="col-md-3">
                <a href=""><img src="resoures/img/khogalachanh4.jpg" alt=""></a>
                <a href="#">Khô gà lá chanh</a>
            </div>
        </div>
        <br>
        <hr>
        <div class="row">

            <div class="col-md-3">
                <a href=""><img src="resoures/img/khogabotoi1.jpg" alt=""></a>
                <a href="#">Khô gà bơ tỏi</a>
            </div>
            <div class="col-md-3">
                <a href=""> <img src="resoures/img/khogabotoi2.png" alt=""></a>
                <a href="#">Khô gà bơ tỏi</a>
            </div>
            <div class="col-md-3">

                <a href=""><img src="resoures/img/khogabotoi3.jpg" alt=""></a>
                <a href="#">Khô gà bơ tỏi</a>
            </div>
            <div class="col-md-3">
                <a href=""> <img src="resoures/img/khogabotoi4.jpg" alt=""></a>
                <a href="#">Khô gà bơ tỏi</a>
            </div>
        </div>
        <br>
        <hr>
        <div class="row">

            <div class="col-md-3">
                <a href=""><img src="resoures/img/khogacay1.jpg" alt=""></a>
                <a href="#">Khô gà cay</a>
            </div>
            <div class="col-md-3">
                <a href=""> <img src="resoures/img/khogacay2.jpg" alt=""></a>
                <a href="#">Khô gà cay</a>
            </div>
            <div class="col-md-3">

                <a href=""><img src="resoures/img/khogacay3.png" alt=""></a>
                <a href="#">Khô gà cay</a>
            </div>
            <div class="col-md-3">
                <a href=""><img src="resoures/img/khogacay4.jpg" alt=""></a>
                <a href="#">Khô gà cay</a>
            </div>
        </div>
    </div>

</div>