<div class="content">
    <div class="menukhoga">

        <select name="" id="sapxep">
            <option value="0">Sắp Xếp</option>
            <option value="1">Theo đơn giá từ A>Z</option>
            <option value="2">Theo đơn giá từ Z>A</option>
        </select>

    </div>
    <div class="row">

        <div class="col-md-3">
            <a href=""><img src="../resoures/img/khogabotoi1.jpg" alt=""></a>
            <a href="#">Khô gà bơ tỏi</a>
        </div>
        <div class="col-md-3">
            <a href=""> <img src="../resoures/img/khogabotoi2.png" alt=""></a>
            <a href="#">Khô gà bơ tỏi</a>
        </div>
        <div class="col-md-3">

            <a href=""><img src="../resoures/img/khogabotoi3.jpg" alt=""></a>
            <a href="#">Khô gà bơ tỏi</a>
        </div>
        <div class="col-md-3">
            <a href=""> <img src="../resoures/img/khogabotoi4.jpg" alt=""></a>
            <a href="#">Khô gà bơ tỏi</a>
        </div>
    </div>
</div>