<div class="content">
    <div class="menukhoga">

        <select name="" id="sapxep">
            <option value="0">Sắp Xếp</option>
            <option value="1">Theo đơn giá từ A>Z</option>
            <option value="2">Theo đơn giá từ Z>A</option>
        </select>

    </div>
    <div class="row">

        <div class="col-md-3">
            <a href=""><img src="../resoures/img/khogalachanh1.jpg" alt=""></a>
            <a href="#">Khô gà lá chanh</a>
        </div>
        <div class="col-md-3">
            <a href=""><img src="../resoures/img/khogalachanh2.jpg" alt=""></a>
            <a href="#">Khô gà lá chanh</a>
        </div>
        <div class="col-md-3">

            <a href=""><img src="../resoures/img/khogalachanh3.jpg" alt=""></a>
            <a href="#">Khô gà lá chanh</a>
        </div>
        <div class="col-md-3">
            <a href=""><img src="../resoures/img/khogalachanh4.jpg" alt=""></a>
            <a href="#">Khô gà lá chanh</a>
        </div>
    </div>
</div>